body{
    margin: 0;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
}

#header{
    box-sizing: border-box;
    padding:0px 64px;
    margin:32px;
    border-radius:50px;
    
    background-color: #d4a373;

    flex:0 1 128px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#content{
    box-sizing: border-box;
    padding:64px;
    margin:32px;
    border-radius:50px;

    background-color: #CCD5AE;

    flex:1 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

table,tr,th,td{
    border: 1px solid black;
}

table{
    width:100%;
    border-collapse: collapse;
}