body{
    margin: 0;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
}

#header{
    box-sizing: border-box;
    padding:0px 64px;
    margin:32px;
    border-radius:50px;
    
    background-color: #d4a373;

    flex:0 1 128px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#content{
    box-sizing: border-box;
    padding:64px;
    margin:32px;
    border-radius:50px;

    background-color: #CCD5AE;

    flex:1 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

table{
    width:100%;
    border-collapse: collapse;
    text-align: center;
}

th{
    border-bottom: 2px solid black;
}

tr{
    background-color: none;

    box-sizing: border-box;
    height: 32px;
}

tr:not(:first-child):hover{
    background-color: #E9EDC9;
}


