body{
    margin: 0;
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    background-color: white;
    

    font-family: 'Oswald', sans-serif;
    color: white;
}

#header{
    box-sizing: border-box;
    padding:0px 64px;
    margin:32px;
    border-radius:50px;
    
    background-color: #00ABE1;

    flex:0 1 128px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 64px;
    font-weight: bolder;
}

#content{
    box-sizing: border-box;
    padding:64px;
    margin:32px;
    border-radius:50px;

    background-color: #00ABE1;

    font-size: 24px;
    font-weight: bold;

    flex:1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

table{
    width:100%;
    border-collapse: collapse;
    text-align: center;
}

th{
    border-bottom: 2px solid black;
}

tr{
    background-color: none;

    box-sizing: border-box;
    height: 32px;
}

tr:not(:first-child):hover{
    background-color: #161F6D;
}


